#dockercompose se encarga de gestions los docekr que tengamos
#Aunque tengamos solo uno es por buena practica en vez de usar el docker a mano

version: "3.5"
services:
  product:
    platform: linux/amd64
    container_name: products
    build: #build especificaremos donde esta el dockerfile
      context: ./.dockers/mysql #ruta del dockerfile
      dockerfile: Dockerfile  #nombre archivo del dockefile
    #image: test-name #podemos ponerle un nombre especifico a la imagen creada, si no lo crea como <project_name>-<service_name>
    environment: #son variables de entorno que debemos definir (aparece en el dockerhub de hecho)
      POSTGRES_USER: root #usuario por defecto de postgres
      POSTGRES_PASSWORD: root #pass para usaurio "root" para bbdd
    #  POSTGRES_DB: products #bbdd que se creara al levantar la imagen (la misma que definimos en init.sql)
    ports: #aqui definimos los puertos a usar
      - "5000:5432" #redireccionaremos un puerto a otro. Osea que cuando le pegemos al 5000 del HOST redirigira al 5432 del conntenedor 
    volumes: #[ruta en el host]:[ruta dentro del contenedor]
      - ./.dockers/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql #Aqui copiamos mi archivo init.sql CREADO del proyect y lo copio al container docker-entrypoint-initdb.d
      #MySQL ejecutará automáticamente cualquier archivo .sql que encuentre en docker-entrypoint-initdb.d/ (documentacin de dockerhub)
      #Esto se ejecutará solo la primera vez que se levante el contenedor, si lo paramos y lo volvemos a levantar no se ejecutara de nuevo
      #Si queremos que se ejecute cada vez que levantemos el contenedor, lo pondremos en el dockerfile (ver dockerfile)
  
  offer:
    platform: linux/amd64
    container_name: offer
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: offer
    ports:
      - 27000:27017
    volumes: #[ruta en el host]:[ruta dentro del contenedor]
      - ./.dockers/mongo/:/docker-entrypoint-initdb.d/

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@offer:27017/
      ME_CONFIG_BASICAUTH: false



#Para levantarlo pondremos en cmd: docker compose build
#Luego podemos verlo con docker images
#Luego ejecutaremos el container con la imagen, como usamos docker-compose es un COMANDO SENCILLO
#Solo se pone docker compose up
#Para ejecutar en segundo plano docker compose up -d
#Luego con docker ps podemos ver que esta ok
#Con docker inspect <idContainer> podemos ver los detalles (como pueto, etc)